

.title-cart {
    margin: 0 auto;
    text-align: center;
    background-color: $terctono;
    font-family: 'Aboreto';
    color: white;
    font-size: 6rem;
}

#cart-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container table thead {
    font-weight: 700;

}

#cart-container table thead td{
    background-color: $terciario;
    color: white;
    border: none;
    padding: 6px 0;
}