/*CONTACTO*/

.contactotitle {
    margin: 0 auto;
    text-align: center;
    background-color: $terctono;
    color: $blanco;
    width: 650px;
    transform: skewX(160deg);
    transition: 0.5s;
}

.contactotitle:hover {
    transform: skewX(150deg);
}


.form-redes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}


/*Formulario*/


.formcont {
    margin: 0 auto;
    width: 90%;
    background-color: $secundario;
    padding: 2rem;
    border-radius: 10px;
    border-top: 9px solid $primario;
    transition: 0.5s;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
        fieldset {
        border: none;
    }
}

.formcont:hover {
    transform: scale(1.05);
}


.camposcont {
    @include flex (column, center, center);
}

.campos {
    padding: 3rem;
    label {
        @include flex (row, left, center);
        margin-bottom: 5px;
        position: relative;
        width: fit-content;
        color: $blanco;
        font-weight: 900;
    }

    label::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        @include ancho-alto (100%, 2px);
        background: linear-gradient(to right, $terciario, $terctono, $terciario);
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }

    label:hover::before {
        transform: scaleX(1);
    }

    input {
        border: none;
        padding: 5px;
        width: 500px;
    }

    textarea {
        border: none;
        padding: 5px;
        @include ancho-alto (500px, 100px);
    }
}


.boton {
    border: none;
    background-color: $terctono;
    color: $blanco;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-family: 'Aboreto';
    border-top: 2px solid $blanco;
    transition: 0.4s;
}

.boton:hover{
    transform: scale(1.1);
}

/*Redes*/

.redes_cont{
    margin: 0 2rem;
    @include ancho-alto (fit-content, 100%);
    background-color: $primario;
    transition: 0.4s;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
}

.redes_cont:hover {
    transform: scale(1.05);
}

.redes_title {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    border-bottom: 1px solid $negro;
    color: $blanco;
    background-color: $terctono;
}

.redes_icon {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10rem;
}

.iconfondo {
    background-color: $sectono;
    border-radius: 100%;
    @include ancho-alto (15rem, 15rem);
    @include flex (row, center, center);
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);

}

.iconfondo:hover {
    transform: scale(1.3);
}

/*Mapa*/

.map {
    display: flex;
    justify-content: center;
    background-color: $terctono;
    width: fit-content;
    padding: 0rem;
    margin: 4rem auto;
    border: 5px solid $terciario;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

@media (max-width: 1000px ) {

    /*FORMULARIO*/

    .form-redes {
        @include flex (column, center, center);
    }

    .contactotitle {
        width: 100%;
        transform: none;
    }
    
    .contactotitle:hover {
        transform: none;
    }
    
    .formcont {
        margin: 1rem auto 3rem;
        width: fit-content;
        padding: 0.5rem;
    }

    .formcont:hover {
        transform: none;
    }

    .campos {
        padding: 2rem;
        input {
            width: 400px;
        }
        textarea {
            width: 400px;
        }

    }
    
    /*REDES*/

    .redes_icon {
        @include flex (row, space-around, none);
        padding-top: 1rem;
    }

    .iconfondo {
        @include ancho-alto (13rem, 13rem);
        margin-top: 3rem;
        margin-bottom: 3.5rem;
    }
    .redes_cont:hover {
        transform: none;
    }

    /*MAPA*/

    .map {
        align-items: center;
        width: 700px;
    }

}

@media (max-width: 480px ) {

    /*FORMULARIO*/

    .form-redes {
        @include flex (column, center, center);
    }

    .contactotitle {
        width: 100%;
        transform: none;
    }
    
    .contactotitle:hover {
        transform: none;
    }
    
    .formcont {
        margin: 1rem auto 3rem;
        width: 330px;
        padding: 0.5rem;
    }

    .formcont:hover {
        transform: none;
    }

    .campos {
        padding: 2rem;
        input {
            width: fit-content;
        }
        textarea {
            width: fit-content;
        }
    }
    
    /*REDES*/

    .redes_icon {
        @include flex (column, center, center);
        padding-top: 1rem;
    }

    .iconfondo {
        @include ancho-alto (13rem, 13rem);
        margin-top: 3rem;
        margin-bottom: 3.5rem;
    }

    /*MAPA*/

    .map {
        align-items: center;
        width: 330px;
    }

}
