
/*PROXIMAMENTE*/

.prox-cont, .rev {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0rem;
    transition: 0.4s;
}

/* No encontre forma de usar el extend en esta parte, debido a que mas abajo tengo que usar un wrap reverse y este no se aplicaría ya que en el mq me sigue aplicando el extend de antes. Quizas haciendo otro parshal para los mq sería factible, pero me gusta trabajar con los mq en la misma pagina donde van a afectar */


.text{
    @include flex (column, center, center);
    text-align: center;

    h2 {
        color: $terciario;
        font-size: 3rem;
        transition: 0.4s;
    }
}


.prox-cont img, .rev img{
    @include ancho-alto (700px, 700px);
    object-fit: contain;
}


.prox-cont:hover, .rev:hover{
    font-size: larger;
}

.prox-cont:hover h2, .rev:hover h2{
    font-size: 4rem;
}

@media (max-width: 1000px) {
    .prox-cont img, .rev img{
        @include ancho-alto (100%, fit-content);
    }
} 

@media (max-width: 480px) {
    .prox-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: 0.4s;
    }

    .rev {
        display: flex;
        flex-wrap: wrap-reverse;
    }


    .prox-cont img, .rev img{
        width: 100%;
        height: fit-content;
    }

    .text {
        width: fit-content;
        height: 300px;

        p {
            margin: 0 auto;
        }

        h2 {
            font-size: 3rem;
        }
    }

    .prox-cont:hover {
        font-size: 16px;
    }
    
    .prox-cont:hover h2{
        font-size: 3rem;
    }
}